/*

text
@extend .text-boss--wide
@extend .text-main

*/

.advantage {
  @extend .text-main;
  background-color: $color-background-secondary;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 84px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 160px;
  }
}



.advantages__list {

    font-size: 12px;
    line-height: 1.66;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    font-weight: 700;
    

    
   

    @media screen and (min-width: 768px)  {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 22px;
      font-size: 14px;
      line-height: 1.7;
      
    }

        @media screen and (min-width: 1200px) {
          
            grid-column-gap: 106px;
              font-size: 16px;
              line-height: 1.75;
          
        }

        
      
}



.advantages__title--hidden {
  visibility: hidden;
}

.advantages__digit--milk-bucket::before {

  margin-bottom: 16px;
  width: 33px;
  height: 50px;
  content: " ";
  background-size: contain;
  display: block;
  background-image: url(../images/advantages/advantages-milk-icon.png);
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-milk-icon@2x.png);
    }

         @media screen and (min-width: 768px) and (max-width: 1200px) {
           margin-bottom: 36px;
         }

                    @media screen and (min-width: 1200px) {
                      margin-bottom: 40px;
                    }
}

.advantages__digit--apple-bucket::before {
   margin-bottom: 16px;
  content: " ";
  width: 50px;
  height: 50px;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/advantages/advantages-apples-icon.png);


  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-apples-icon@2x.png);
    }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
          margin-bottom: 36px;
        }

        @media screen and (min-width: 1200px) {
          margin-bottom: 40px;
        }
}

.advantages__digit--melting-heart::before {
  margin-bottom: 16px;
  content: " ";
  width: 44px;
  height: 50px;
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/advantages/advantages-ice-icon.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-ice-icon@2x.png);
    }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
          margin-bottom: 36px;
        }

                 @media screen and (min-width: 1200px) {
                   margin-bottom: 40px;
                 }
}

.advantages__digit {
  color: $color-boss;
  font-family: $font-boss;
  font-size: 36px;
  line-height: 1.13;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  display:inline-block
  
}

@media screen and (min-width: 768px)  {
  .advantages__digit {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.14;
  }

    @media screen and (min-width: 1200px) {
      .advantages__digit {
        font-size: 58px;
        line-height: 1.13;
       margin-bottom: 16px;
      }
      

    }
  
}













