/*

text
@extend .text-main--low

*/

.header {
  position: absolute;
  width: 100%;
  @extend .text-main--low;
}
.logo{
  cursor: pointer;
  animation-name: spin;
  animation-duration: 2000ms;
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}}
.bin{
  width: inherit;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 480px) {
      width: 480px;
    }
         @media screen and (min-width: 768px) {
           width: 768px;
         }
    @media screen and (min-width: 1200px) {
     width: 1200px;    
      margin-top: 52px;
  }
}
.menu{
  display: flex;
  align-items: center;
}
//BUTTONS
.buttons{
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    flex-grow: 1;
    justify-content: flex-end;
    }
}
.burger-menu-btn{
  background: none;
  border: 0;
  cursor: pointer;  
  @media screen and (min-width: 1200px){
    display: none;
  }
}

.buy-now__btn{ 
  outline: 1px solid red;
  cursor: pointer;
  display: none;
  background-color: $color-card;
  border-radius: 22px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 0px;
    &:hover,
      &:focus {
        background-color: $color-hover-light;
      }
        @media screen and (max-width: 480px) {
              display: none;}
        @media screen and (max-width: 1199px) {
                              margin-left: 32px;}
@media screen and (min-width: 1200px) {
  margin-left: 0px;
}}
.buy-now__txt{
  @extend .text-main--low;
  padding: 11px 0px 11px 0px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-boss;
}
.buy-now__icon{
  margin-left: 12px;
}
//BUTTONS-END__________________END__________________________//
//List_________________________LIST_________________________//
.nav__list{
  display: none;
  @media screen and (min-width: 1200px) {
  z-index: 1;
  display: flex;
  margin: auto;
  }
}
.nav__link{
  padding: 10px 0px 10px 0px;
  text-decoration: none;
  font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    @extend .text-main--low;
    color: $color-card;
    &:hover,
      &:focus {
       color: $color-boss;
      transition-duration: 1000ms;
      }

}
.nav__item{
  &:not(:first-child){
    margin-left: 35px;
  }
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    }
}