/*

text
@extend .text-main--low

*/

.header {
  @extend .text-main--low;
}
.bin{
  @extend .container;
  position: absolute;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 1200px) {
    justify-content: space-around;
    margin-top: 52px;
  }
}
.menu{
  display: flex;
  align-items: center;
}
//BUTTONS
.buttons{
  display: flex;
  align-items: center;
}
.burger-menu-btn{
  justify-content: flex-end;
  background: none;
  border: 0;
  @media screen and (min-width: 1200px){
    display: none;
  }
}

.buy-now__btn{  
  display: none;
  cursor: pointer;
  @media screen and (min-width: 480px) { 
  margin-left: 32px;
  background-color: $color-card;
  border-radius: 22px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 0px;}
  &:hover, &:focus{
    background-color: $color-hover-light;
  }
}
.buy-now__txt{
  @extend .text-main--low;
  padding: 11px 0px 11px 0px;
  font-family: $font-main;
  font-weight: 700;
  color: $color-boss;
}
.buy-now__icon{
  margin-left: 12px;
}
//BUTTONS-END
//List
.nav__list{
  display: none;
  @media screen and (min-width: 1200px) {
  z-index: 1;
  display: flex;
  margin: auto;
  }
}
.nav__link{
  text-decoration: none;
  font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    @extend .text-main--low;
    color: $color-card;
    &:hover,
      &:focus {
       color: $color-boss;
      }

}
.nav__item{
  &:not(:first-child){
    margin-left: 35px;
  }
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    }
}