$font-boss: 'Titan One', cursive;
$font-main: 'DM Sans', sans-serif;

$color-main: #000000;
$color-secondary: #907e82;
$color-boss: #d41443;
$color-accent: #ffa5ba;
$color-hover-dark: #c7133e;
$color-hover-light: #ecebeb;


$color-background-secondary: #FFF5F6;
$color-card: #ffffff;
$color-icon: #fea5bb;
$color-border: #e1e1e1;

