<section class="advantage">

  <div class="container">

    <h2 class="advantages__title--hidden">Statistics</h2>
   
    <ul class="advantages__list">

      <span class="advantages__digit">721</span>
      <li class=" advantages__item advantages__item--milk-bucket">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
      
      <span class="advantages__digit">16kg</span>
      <li class=" advantages__item advantages__item--apple-bucket">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
     
      <span class="advantages__digit">84</span>
      <li class=" advantages__item advantages__item--melting-heart">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
   
    </ul>


  </div>

</section>

