<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts-container">
      <h2 hidden>Locations</h2>
      <div class="contacts-box">
        <ul class="contacts-list list">
          <li class="contacts-item">
            <span class="contacts-title__place">CAFE</span>
          </li>
          <li class="contacts-item">
            <span class="contacts-title__city">Chikago</span>
          </li>
          <li class="contacts-item">
            <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts-item">
            <ul class="contacts-list__time list">
              <li class="contacts-item__time">
                <p class="contacts-weeks">Monday - Friday</p>
                <time class="contacts-time" datetime="06:00">06:00 AM</time>
                <time class="contacts-time" datetime="22:00"> - 10:00 PM</time>
              </li>
              <li class="contacts-item__time">
                <p class="contacts-weeks">Saturday - Sunday</p>
                <time class="contacts-time" datetime="08:00">08:00 AM</time>
                <time class="contacts-time" datetime="16:00"> - 4:00 PM</time>
              </li>
            </ul>
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a><br />
            <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <div class="contacts-box">
        <ul class="contacts-list list">
          <li class="contacts-item">
            <span class="contacts-title__place foodtruck">FOODTRUCK</span>
          </li>
          <li class="contacts-item">
            <span class="contacts-title__city">Los Angeles</span>
          </li>
          <li class="contacts-item">
            <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts-item">
            <ul class="contacts-list__time list">
              <li class="contacts-item__time">
                <p class="contacts-weeks">Monday - Friday</p>
                <time class="contacts-time" datetime="06:00">06:00 AM</time>
                <time class="contacts-time" datetime="22:00"> - 10:00 PM</time>
              </li>
              <li class="contacts-item__time">
                <p class="contacts-weeks">Saturday - Sunday</p>
                <time class="contacts-time" datetime="08:00">08:00 AM</time>
                <time class="contacts-time" datetime="16:00"> - 4:00 PM</time>
              </li>
            </ul>
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a><br />
            <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <div class="contacts-box">
        <ul class="contacts-list list">
          <li class="contacts-item">
            <span class="contacts-title__place">CAFE</span>
          </li>
          <li class="contacts-item">
            <span class="contacts-title__city">New York</span>
          </li>
          <li class="contacts-item">
            <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts-item">
            <ul class="contacts-list__time list">
              <li class="contacts-item__time">
                <p class="contacts-weeks">Monday - Friday</p>
                <time class="contacts-time" datetime="06:00">06:00 AM</time>
                <time class="contacts-time" datetime="22:00"> - 10:00 PM</time>
              </li>
              <li class="contacts-item__time">
                <p class="contacts-weeks">Saturday - Sunday</p>
                <time class="contacts-time" datetime="08:00">08:00 AM</time>
                <time class="contacts-time" datetime="16:00"> - 4:00 PM</time>
              </li>
            </ul>
          </li>
          <li class="contacts-item">
            <a class="contacts-link" href="tel:+610383766284">+61(0) 383 766 284</a><br />
            <a class="contacts-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts-btn">
      <button class="contacts-btn__locations" type="button">
        Our Locations
        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              images/shared-icons/button-arrow-icon1.png    1x,
              images/shared-icons/button-arrow-icon1@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              images/shared-icons/button-arrow-icon1.png    1x,
              images/shared-icons/button-arrow-icon1@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px )"
            srcset="
              images/shared-icons/button-arrow-icon1.png    1x,
              images/shared-icons/button-arrow-icon1@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="contacts-btn__icon"
            src="images/shared-icons/button-arrow-icon1.png"
            alt="icon slik arrow"
          />
        </picture>
      </button>
      <button class="contacts-btn__franchise" type="button">
        Franchise
        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              images/shared-icons/button-arrow-icon.png    1x,
              images/shared-icons/button-arrow-icon@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px )"
            srcset="
              images/shared-icons/button-arrow-icon.png    1x,
              images/shared-icons/button-arrow-icon@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px )"
            srcset="
              images/shared-icons/button-arrow-icon.png    1x,
              images/shared-icons/button-arrow-icon@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="contacts-btn__icon"
            src="images/shared-icons/button-arrow-icon.png"
            alt="icon slik arrow"
          />
        </picture>
      </button>
    </div>
  </div>
</section>
