<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <!-- Основной контент секции -->
    <div class="swiper">
      <ul class="customer-reviews__list swiper-list">
        <!-- First user -->
        <li class="customer-reviews__item swiper-item">
          <!-- Обертка для аватара -->
          <div class="customer-reviews__wrap-img">
            <picture>
              <source
                srcset="
                  images/customer-reviews/customer-portret01.jpg    1x,
                  images/customer-reviews/customer-portret01@2x.jpg 2x
                "
              />
              <img
                src="images/customer-reviews/customer-portret01.jpg"
                alt="User photo"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <!-- Обертка текста -->
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <!-- Decoration text dots -->
          <div class="customers-reviews__wrap-span">
            <span class="customer-reviews__span"></span>
          </div>
          <!-- Имя пользователя -->
          <div class="customers-reviews__wrap-name">
            <span class="customers-reviews__name">Emily, Los Angeles</span>
          </div>
        </li>

        <!-- Second user -->
        <li class="customer-reviews__item swiper-item">
          <!-- Обертка для аватара -->
          <div class="customer-reviews__wrap-img">
            <picture>
              <source
                srcset="
                  images/customer-reviews/customer-portret02.jpg    1x,
                  images/customer-reviews/customer-portret02@2x.jpg 2x
                "
              />
              <img
                src="images/customer-reviews/customer-portret02.jpg"
                alt="User photo"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <!-- Обертка текста -->
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <!-- Decoration text dots -->
          <div class="customers-reviews__wrap-span">
            <span class="customer-reviews__span"></span>
          </div>
          <!-- Имя пользователя -->
          <div class="customers-reviews__wrap-name">
            <span class="customers-reviews__name">Inga, Chicago</span>
          </div>
        </li>

        <!-- Third user -->
        <li class="customer-reviews__item swiper-item">
          <!-- Обертка для аватара -->
          <div class="customer-reviews__wrap-img">
            <picture>
              <source
                srcset="
                  images/customer-reviews/customer-portret03.jpg    1x,
                  images/customer-reviews/customer-portret03@2x.jpg 2x
                "
              />
              <img
                src="images/customer-reviews/customer-portret03.jpg"
                alt="User photo"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <!-- Обертка текста -->
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <!-- Decoration text dots -->
          <div class="customers-reviews__wrap-span">
            <span class="customer-reviews__span"></span>
          </div>
          <!-- Имя пользователя -->
          <div class="customers-reviews__wrap-name">
            <span class="customers-reviews__name">Anna, New York</span>
          </div>
        </li>
      </ul>

      <!-- Slider -->
      <div class="customer-reviews__slider">
        <span
          class=".customer-reviews__slider--switch .customer-reviews__slider--switch-active"
        ></span>
        <span class=".customer-reviews__slider--switch"></span>
        <span class=".customer-reviews__slider--switch"></span>
      </div>
    </div>
  </div>
</section>
