<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper">
      <ul class="customer-reviews__list">
        <li class="customer-reviews__item">
          <img src="/images/customer-reviews/reviews-user-photo0.jpg" alt="User photo" />
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              <svg class="customer-reviews__icon-text">
                <use href="/images/customer-reviews/quotes.svg"></use>
              </svg>
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>

          <div class="customers-reviews__wrap-span">
            <span class="customer-reviews__span"></span>
          </div>
          <span>Emily, Los Angeles</span>
        </li>

        <li class="customer-reviews__item">
          <img src="" alt="User photo" />
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi harum
              aspernatur repellendus sit ab.
            </p>
          </div>

          <span>Inga, Chicago</span>
        </li>

        <li class="customer-reviews__item">
          <img src="" alt="User photo" />
          <div class="customer-reviews__wrap-text">
            <p class="customer-reviews__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officiis eius vel
              voluptas numquam officia ab fugit magni blanditiis consectetur libero, ipsum
              temporibus quo aperiam.
            </p>
          </div>

          <span>Anna, New York</span>
        </li>
      </ul>

      <!-- Slider -->
      <div class="customer-reviews__wrap-button">
        <button class="customer-reviews__slide-button active-slide"></button>
        <button class="customer-reviews__slide-button"></button>
        <button class="customer-reviews__slide-button"></button>
      </div>
    </div>
  </div>
</section>
