<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper">
      <ul class="customer-reviews__list">
        <li class="customer-reviews__item">
          <img src="" alt="User photo" />
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span>Emily, Los Angeles</span>
        </li>
        <li class="customer-reviews__item">
          <img src="" alt="User photo" />
          <p class="customer-reviews__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quasi harum aspernatur
            repellendus sit ab.
          </p>
          <span>Inga, Chicago</span>
        </li>
        <li class="customer-reviews__item">
          <img src="" alt="User photo" />
          <p class="customer-reviews__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque officiis eius vel
            voluptas numquam officia ab fugit magni blanditiis consectetur libero, ipsum temporibus
            quo aperiam.
          </p>
          <span>Anna, New York</span>
        </li>
      </ul>

      <!-- Переключение слайдера -->
    </div>
  </div>
</section>
