<footer class="footer">
  <div class="container footer__container">

    <h2>Footer</h2>

    <div class="footer__text"> 

      <p class="footer-text__primary">homemade ice cream made</p>
      <p class="footer-text__secondary">with passion</p>

    </div>


    <div class="socials"> 

      <ul class="socials__list">
        <li class="socials__item"> 
          <a class="socials__link" href="https://github.com" aria-label="icon-github"
           target="_blank" rel="noopener noreferrer">
           <svg class="socials__icon" width="20px" height="20px"><use href="./images/symbol-defs.svg#icon-github"></use></svg>
          </a> 
        </li>

        <li class="socials__item"> 
          <a class="socials__link" href="https://www.telegram.org" aria-label="icon-telegram"
           target="_blank" rel="noopener noreferrer">
           <svg class="socials__icon" width="20px" height="20px"><use href="./images/symbol-defs.svg#icon-telegram"></use></svg>
          </a>
        </li>

        <li class="socials__item"> 
          <a class="socials__link" href="https://www.facebook.com" aria-label="icon-facebook"
           target="_blank" rel="noopener noreferrer">
           <svg class="socials__icon" width="20px" height="20px"><use href="./images/symbol-defs.svg#icon-facebook"></use></svg>
          </a>
        </li>
      </ul>
        
      <span class="footer-text__phone">Feel free to contact</span>
      <a href="tel:+610383766284" class="footer__link">+61 (0) 383 766 284</a>                      
      
    </div> 
  </div>

  <div class="copyright"> <p class="copyright__text">© 2019 - IceCream. All Rights Reserved.</p></div>          

</footer>
