<section class="gallery__copy">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture class="gallery__main">
      <source
        srcset="images/gallery/gallery-collage.png 1x, images/gallery/gallery-collage@2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="images/gallery/gallery-tab.png 1x, images/gallery/gallery-tab@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="images/gallery/gallery-mob.png 1x, images/gallery/gallery-mob@2x.png 2x"
        media="(max-width: 767px)"
      />

      <img src="images/gallery/gallery-collage.png" alt="gallery ice" />
    </picture>
  </div>
</section>
