<section class="gallery">
  <div class="container">
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/9f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/7f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/8f.png" alt="" />
        </div>
      </li>

      <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/10f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/6f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/4f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/5f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/2f.png" alt="" />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/3f.png" />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
          <img class="masonry__img card__inner" src="images/img/1f.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
