<section class="gallery">
  <div class="container">
      <ul class="gread__list">
        <li class="gread__item gread__item-1">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/9 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-2">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/7 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-3">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/8 f.png"
              alt=""
            />
          </div>
        </li>
        
        <li class="gread__item gread__item-4">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/10 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-5">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/6 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-6">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/4 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-7">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/5 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-8">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/2 f.png"
              alt=""
            />
          </div>
        </li>
        <li class="gread__item gread__item-9">
          <div class="masonry__thumb card">
            <img class="masonry__img card__inner" src="./img/3 f.png" />
          </div>
        </li>
        <li class="gread__item gread__item-10">
          <div class="masonry__thumb card">
            <img
              class="masonry__img card__inner"
              src="images/img/1 f.png"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </section>